/*Constants*/
* {
  box-sizing: border-box;
}
.Homepage_body,
.Pricing_body,
.Contact_body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 30px;
}
nav {
  width: 100%;
}
footer {
  width: 100%;
  order: 7;
}
.Contact_info {
  align-items: center;
  left: 500px;
}
.Contact_form {
  width: 75%;
  float: left;
  border-radius: 5px;
  background-color: #a36868;
}

.Contact_form input[type="text"],
input[type="email"] {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
}

.Contact_form #message {
  height: 300px;
  text-align: left;
}
.movie {
  width: 1000px;
  height: 400px;
  display: flex;
  flex: 100%;
  flex-direction: column;
}
.logo {
  width: 300px;
  height: auto;
}

.clearfix1:before,
.clearfix1:after {
  content: " ";
  display: table;
}

.clearfix1:after {
  clear: both;
}
.clearfix2:before,
.clearfix2:after {
  content: " ";
  display: table;
}

.clearfix2:after {
  clear: both;
}
.clearfix3.movie,
.clearfix3:after {
  content: " ";
  display: table;
}

.clearfix3:after {
  clear: both;
}
.cookieStatement {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #fa0;
  opacity: 50%;
  padding: 10px;
  width: 10%;
}
.Pricing_Table {
  padding: 3px;
  width: 75%;
  float: left;
  border: 1px solid black;
}
.Pricing_aside {
  width: 20%;
  position: absolute;
  top: 430px;
  right: 80px;
  border: 2px solid black;
}
.Contact_footer {
  width: 20%;
}
.Contact_aside {
  flex-direction: column;
  border: 2px solid black;
  display: flex;
}

/*PC*/
@media only screen and (min-width: 1280px) {
  .Product_aside {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "Product_figure1 Product_figure2 Product_figure3";
  }
  .Product_figure1 {
    grid-area: Product_figure1;
    width: 300px;
  }

  .Product_figure2 {
    grid-area: Product_figure2;
    width: 300px;
  }

  .Product_figure3 {
    grid-area: Product_figure3;
    width: 300px;
  }
  .Contact_aside {
    width: 25%;
    top: 600px;
    right: 350px;
    border: 2px solid black;
  }
  #Product_articles {
    display: grid;
    grid-template-areas:
      "Product_article2 Product_article1 Product_article3"
      "Product_article5 Product_article1 Product_article3"
      "Product_article5 Product_article1 Product_article4"
      "Product_article5 Product_article6 Product_article6";
    grid-gap: 15px;
    margin: 40px;
    grid-template-rows: auto;
    grid-template-columns: 40% 35% auto;
  }
  .Product_article1 {
    grid-area: Product_article1;
  }
  .Product_article2 {
    grid-area: Product_article2;
  }
  .Product_article3 {
    grid-area: Product_article3;
  }
  .Product_article4 {
    grid-area: Product_article4;
  }
  .Product_article5 {
    grid-area: Product_article5;
  }
  .Product_article6 {
    grid-area: Product_article6;
  }
  .Product_aside {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "Product_figure1 Product_figure2 Product_figure3";
  }

  .Hamburgernavigation label {
    display: none;
  }
  figure {
    float: right;
  }
  figure img {
    width: 200px;
  }
  section {
    width: calc(100% - 200px);
  }
  .Homepage_aside {
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
    position: absolute;
    top: 998px;
    right: 2rem;
    border: 2px solid black;
  }
  .Homepage_aside li {
    margin-top: 25px;
  }
  article {
    border: 2px solid black;
  }
  .Pricing_Table {
    width: 75%;
    float: left;
  }
  td,
  th {
    padding: 3px;
    border: 1px solid maroon;
    text-align: left;
  }
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 1279px) {
  .Hamburgernavigation label {
    display: none;
  }

  .Homepage_aside li {
    margin-top: 30px;
  }
  .Homepage_body {
    display: flex;
    flex-direction: column;
  }

  .Homepage_body header {
    order: 1;
  }
  .movie {
    width: 600px;
    height: 375px;
    order: 4;
  }
  .Homepage_aside {
    width: 23%;
    float: left;
    order: 3;
  }

  .Homepage_aside li {
    margin-top: 30px;
  }

  .Homepage_section {
    float: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    order: 5;
  }

  .clearfix3 {
    order: 1;
  }

  .clearfix2 {
    order: 2;
  }

  .clearfix1 {
    order: 3;
  }

  .footer {
    order: 6;
  }

  .Homepage_section article {
    margin-bottom: 90px;
  }

  .Homepage_figure1,
  .Homepage_figure2,
  .Homepage_figure3 {
    float: left;
    width: 180px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
  }

  .Homepage_section img {
    width: 180px;
  }

  .Product_articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Product_article1 ."
      ". ."
      ". Product_article2"
      "Product_article3 ."
      ". Product_article5"
      ". ."
      "Product_article6 ."
      ". .";
  }

  .Product_article1 {
    grid-area: Product_article1;
  }

  .Product_article2 {
    grid-area: Product_article2;
  }

  .Product_article3 {
    grid-area: Product_article3;
  }

  .Product_article5 {
    grid-area: Produc_tarticle5;
  }

  .Product_article6 {
    grid-area: Product_article6;
  }

  .Product_article4,
  .Product_figure3 {
    display: none;
  }

  .Product_aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "Product_figure1 Product_figure2";
    width: 100%;
    height: 300px;
    margin-bottom: 150px;
  }

  .Product_figure1 {
    grid-area: Product_figure1;
  }

  .Product_figure2 {
    grid-area: Product_figure2;
  }

  .Product_aside figure img {
    min-width: 150px;
    max-width: 100%;
  }

  .Pricing_aside {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "Pricing_figure2 Pricing_figure3";
    width: 100%;
    position: unset;
    height: 400px;
  }

  .Pricing_figure2 {
    grid-area: Pricing_figure2;
  }

  .Pricing_figure3 {
    grid-area: Pricing_figure3;
  }

  .Pricing_aside figure img {
    min-width: 170px;
    max-width: 100%;
  }

  .Pricing_figure1 {
    display: none;
  }

  .Contact_form {
    width: 70%;
    float: left;
    border-radius: 5px;
    background-color: #a36868;
  }

  .Contact_form input[type="text"],
  input[type="email"] {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
  }

  .Contact_form #message {
    height: 200px;
    text-align: left;
  }

  .Contact_aside {
    float: right;
    width: 30%;
    margin-bottom: 100px;
  }

  .Contact_aside img {
    width: 100%;
    height: 100%;
  }
}

/*Mobile*/
@media only screen and (max-width: 480px) {
  .Homepage_body {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .Hamburgernavigation {
    bottom: 500px;
    left: 500px;
  }
  .Hamburgerlist {
    position: absolute;
    top: 3rem;
    right: 0rem;
    background-color: #fff;
  }
  .Hamburgerlist a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 2px solid #333;
  }

  .Hamburgernavigation label {
    display: inline-block;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }
  .Hamburgerlist {
    order: 2;
    display: none;
  }
  .Hamburgernavigation input:checked ~ .Hamburgerlist {
    display: block;
  }

  .Homepage_aside {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    float: left;
    order: 3;
    border: 2px solid black;
  }
  #Hamburger {
    display: none;
  }

  .Homepage_aside li {
    margin-top: 10px;
  }

  .movie {
    display: none;
  }

  .logo {
    display: none;
  }

  .Homepage_section {
    float: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    order: 5;
  }

  .clearfix3 {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .clearfix2 {
    order: 2;
    display: flex;
    flex-direction: column;
  }

  .clearfix1 {
    order: 3;
    display: flex;
    flex-direction: column;
  }

  .clearfix1 header {
    order: 1;
  }

  .clearfix1 p {
    order: 2;
  }

  .clearfix1 figure {
    order: 3;
  }

  .clearfix1 footer {
    order: 4;
  }

  .clearfix2 header {
    order: 1;
  }

  .clearfix2 p {
    order: 2;
  }

  .clearfix2 figure {
    order: 3;
  }

  .clearfix2 footer {
    order: 4;
  }

  .clearfix3 header {
    order: 1;
  }

  .clearfix3 p {
    order: 2;
  }

  .clearfix3 figure {
    order: 3;
  }

  .clearfix3 footer {
    order: 4;
  }

  .Homepage_footer {
    order: 8;
    width: 100%;
  }

  .Homepage_section article {
    margin-bottom: 90px;
  }

  .Homepage_figure1,
  .Homepage_figure2,
  .Homepage_figure3 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Homepage_section img {
    width: 180px;
  }

  .Product_body {
    margin-bottom: 100px;
  }
  .Product_articles {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      "Product_article5 ."
      ". ."
      ". ."
      "Product_article3 ."
      ". ."
      ". ."
      "Product_article2 ."
      ". ."
      ". ."
      "Product_article1 ."
      ". .";
  }

  .Product_article5 {
    grid-area: Product_article5;
  }

  .Product_article3 {
    grid-area: Product_article3;
  }

  .Product_article2 {
    grid-area: Product_article2;
  }

  .Product_article1 {
    grid-area: Product_article1;
  }

  .Product_article4,
  .Product_article6 {
    display: none;
  }

  .Product_aside {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .Product_figure3 {
    display: block;
  }
  .Product_aside figure img {
    width: 100%;
  }
  .Pricing_body {
    margin-bottom: 100px;
  }

  .Pricing_body .logo {
    display: none;
  }

  .Pricing_aside {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .Pricing_figure1 {
    display: block;
  }

  .Pricing_aside figure img {
    width: 100%;
  }

  .Contact_body {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .Contact_aside {
    width: 70%;
    margin-top: 50px;
  }

  #Hamburger {
    display: none;
  }

  .Pricing_body p {
    word-spacing: 1em;
  }

  .cookieStatement {
    color: rgb(245, 77, 77);
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    background-color: #fa0;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
    z-index: 9999;
  }

  .footer {
    clear: both;
  }

  h5 {
    display: none;
  }
}
